<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="classes" thread-count="2">
  <test name="Navegacion_Header1">
    <classes>
      <class name="Salle.TestClasses.SalleHeader"/>
      <class name="Salle.TestClasses.prueba"/>
    </classes>
  </test>
</suite>
